@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global defaults */
:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* FULL WIDTH layout */
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: white; 
  color: #111827;
}

/* Optional link style */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

/* Buttons inherit global font */
button {
  font-family: inherit;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



@media (min-width: 768px) and (max-width: 1024px) {
  .tablet-search-bar {
    margin-top: 10px;
  }
}
